/* Réinitialisation des marges et padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles pour le header */
header {
    display: flex;
    /* Utilise flexbox pour aligner l'image et le menu */
    justify-content: space-between;
    /* Espacement entre l'image et la navigation */
    align-items: center;
    /* Centrer verticalement l'image et le menu */
    padding: 20px;
    background-color: transparent;
    /* Couleur de fond sombre */
    color: white;
    width: 100%;
}

/* Style de l'image */
#logo {
    position: absolute;
    width: 110px;
    /* Ajuste la taille de l'image */
    height: auto;
    /* Garde les proportions de l'image */
}

/* Style de la navigation */
nav ul {
    display: flex;
    /* Met les éléments du menu en ligne */
    list-style-type: none;
    /* Retire les puces */
}

nav ul li {
    margin: 0 15px;
    /* Espacement entre les éléments du menu */
}

nav ul li a {
    text-decoration: none;
    /* Retire les soulignements */
    color: white;
    /* Texte blanc */
    font-size: 1.2em;
    /* Taille du texte */
    transition: color 0.3s ease;
    /* Effet au survol */
}

nav ul li a:hover {
    color: #ff6347;
    /* Couleur rouge au survol */
}

.menu-toggle {
    display: none;
    /* Masquer le bouton hamburger par défaut */
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle .bar {
    width: 30px;
    height: 5px;
    background-color: white;
    border-radius: 5px;
}

.menu {
    display: flex;
    /* Par défaut, afficher le menu horizontalement */
}

.menu.open {
    display: flex;
    /* Afficher le menu quand il est ouvert */
    flex-direction: column;
    /* Empiler les éléments verticalement */
}

#bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Couvre toute la zone sans déformation */
    z-index: -1;
    /* La vidéo sera derrière tout autre élément */
}

/* Contenu au-dessus de la vidéo */
.content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 3em;
}

p {
    font-size: 1.5em;
}

/* Style pour le bouton transparent en bas */
.shop-button {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 10;
}

.shop-button button {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 50px;
    /* Bordure ronde */
    padding: 10px 30px;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.shop-button button:hover {
    background-color: #F87171;
    color: black;
}

.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #F87171;
    margin-top: 65px;
}

.newsletter input[type="email"] {
    padding: 10px;
    width: 250px;
    border: 2px solid white;
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    background-color: transparent;
    margin-top: 10px;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    font-family: inherit;
    color: #fff;
}

.newsletter input[type="email"]:hover {
    border-color: #F87171;
}

.newsletter button {
    padding: 10px 20px;
    background-color: transparent;
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.2);
    color: #F87171;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    transition: background 0.3s;
    -webkit-appearance: none;
    appearance: none;
    font-family: inherit;
}

.newsletter button:hover {
    background-color: white;
}

/* Responsivité pour les petits écrans */
@media (max-width: 768px) {
    header {
        flex-direction: row;
        /* Empile l'image et le menu en colonne */
        text-align: left;
        justify-content: space-between;
        background-color: transparent;
    }

    nav ul {
        display: none;
    }

    #logo {
        position: absolute;
        width: 110px;
        /* Réduit la taille de l'image sur mobile */
    }

    .menu-toggle {
        display: flex;
        /* Afficher le bouton hamburger sur mobile */
    }

    nav ul.open {
        display: flex;
        /* Afficher le menu quand il est ouvert */
    }

    h1 {
        margin-top: 50%;
        font-family: 'Zuume Rough Bold', sans-serif;
        /* Appliquer la police */
        font-size: 2em;
        /* Ajuster la taille si nécessaire */
        color: white;
        /* Couleur du texte */
    }

    span {
        color: #F87171;
    }

    p {
        font-size: 1.2em;
    }
}

.cat {
    background-color: black;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    justify-items: center;
}

.product {
    background-color: #1e1e1e;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    min-height: 280px;
}

.product img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.product:hover img {
    transform: scale(1.1);
}

.product .content {
    padding: 20px;
}

.product h3 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.product p {
    color: #aaa;
    margin-bottom: 15px;
}

.product p span {
    color: red;
    font-weight: bold;
}

.product .btn {
    width: 100%;
    padding: 10px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    text-transform: uppercase;
    font-size: 0.875rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product .btn:hover {
    background-color: red;
}

.load-more-btn {
    display: block;
    width: 200px;
    margin: 40px auto;
    padding: 10px;
    background-color: transparent;
    border: 1px solid red;
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.load-more-btn:hover {
    background-color: red;
}

.card {
    background-color: #111111;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    width: 350px;
    text-align: center;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
}

.carousel {
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
    margin-bottom: 15px;
}

.carousel-images {
    display: flex;
    transition: transform 0.3s ease;
}

.carousel-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    z-index: 1;
    font-size: 1.5em;
}

.carousel-button.prev {
    left: 10px;
}

.carousel-button.next {
    right: 10px;
}

.card-details {
    padding: 15px;
}

.card-details h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #fff;
}

.card-details p {
    font-size: 1em;
    margin-bottom: 10px;
    color: #ccc;
}

.card-details .sizes,
.card-details .colors {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px 0;
}

.size-circle,
.color-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #ddd;
    cursor: pointer;
    transition: transform 0.3s;
}

.size-circle:hover,
.color-circle:hover {
    transform: scale(1.1);
}

.size-circle.small {
    background-color: #f1c40f;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.size-circle.medium {
    background-color: #3498db;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.size-circle.large {
    background-color: #2ecc71;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.color-circle.red {
    background-color: red;
}

.color-circle.blue {
    background-color: blue;
}

.color-circle.green {
    background-color: green;
}

.card-details button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1em;
    background-color: #890c0c;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.card-details button:hover {
    background-color: #742323;
}

.quantity {
    display: flex;
    align-items: center;
}

.quantity button {
    position: absolute;
    background-color: #007bff;
    color: white;
    border: none;
    width: 30px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}